body {
    background-image: url("../images/bkgrnd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background: rgb(199, 169, 0);
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    font-size: 40px;
}

#buttons-view {
    color: black;
    padding-bottom: 15px;
}

.movie {
    background: rgb(199, 169, 0);
    font-size: 20px;
    font-weight: bolder;
}

p {
    background: rgb(199, 169, 0);
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

label {
    background: rgb(199, 169, 0);
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 12px !important;
}

.movie-container {
    padding: 15px;
    float: left;
    clear: right;
}

#movie-input {
    width: 100%;
    color: black;
}

#add-movie {
    font-weight: bolder;
    font-size: 30px;
    color: black;
    width: 100%;
    text-align: center;
    background: rgb(199, 169, 0);
    margin-top: 10px;
}